*{
  box-sizing: border-box;
}

.myNav {
  font-size: 1.2rem;
  box-shadow: 2px 8px 16px 0px rgba(212, 99, 6, 0.2);
}
.myNav a{
    color: rgb(75, 72, 72);
    font-family: 'Kaushan Script', cursive;
    font-weight: bold;
}
/* ------------------ */
.main.container {
  min-height: 55vh;
}

#error-msg,
#security-error-msg,
#reset-error-msg {
  color: red;
  text-align: center;
  margin: 10px auto;
}

.container-sm {
    box-shadow: 2px 8px 16px 0px rgba(212, 99, 6, 0.2);
  border-radius: 8px;
  padding-top: 10px;
  padding-bottom: 10px;

  /* margin-top: 15vh; */
}
.container-md {
  max-width: 556px;
}

::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.loginbutton {
  width: 100%;
  background-color: coral;
  color: white;
}

.loginbutton:hover {
  background-color: rgb(185, 82, 45);
  color: white;
}

.heading-label {
  color: rgb(75, 72, 72);
}

.form-control {
  border: none;
  padding: 0px;
  padding-top: 5px;
  border-radius: 0px;
  border-bottom: 1px solid grey;
}

.form-control:focus {
  border-bottom: 3px solid #a06a19;
  box-shadow: none;
}
.gender-radio {
  margin-left: 0.75rem;
}
.click-here-link {
  color: coral;
}
.click-here-link:hover,
.click-here-link:hover {
  color: rgb(206, 99, 60);
}

.footer-container {
  margin-top: 10%;
  height:50px;
  position: relative;
  bottom: 0;
  padding: 0px;
  /* box-shadow: 2px 8px 16px 0px rgba(212, 99, 6, 0.2); */
}
.footer {
    
    box-shadow: 2px 8px 10px 10px rgba(212, 99, 6, 0.2);
    color: rgb(75, 72, 72);
}

.footer a {
  border-radius: 100%;
  cursor: pointer;
  font-size: 25px;
}


