
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 30;
    top: 0;
    right: 0;
    background-color: rgba(240, 206, 156, 0.966);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a:hover {
    color: #807878;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 35px;
    font-size: 36px;
    /* margin-left: 50px; */
    cursor: pointer;
    color: black;
    bottom: 20px;
  }
   h4{
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    }
  .product-drawer-page{
      
      margin-top: 10%;
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 500px;
      /* justify-content: space-evenly; */
  }
  .product-details{
    display: flex;
    flex-direction: column;
    width: 100px;
    /* align-items: center; */
  }
  .product-details p{
      font-size: 1rem;
      margin-bottom: 0;
  }
  .product-name{
    font-weight: bold;
    font-family: 'Kaushan Script', cursive;;
  }
  .image-div{
      margin-left: 5%;
      border-radius: 20px;
      /* border: 1px solid black; */
      height: 70px;
      width: 100px;
      /* object-fit: cover; */
  }
  .product-div{
      margin-left: 5%; 
      /* border: 1px solid black; */
      height: 70px;
  }
  .product_image{
      width: 100%;
      height: 100%;
      border-radius: 10px;
  }
  .quantity-div{
      margin-left: 30%;
      /* border: 1px solid black; */
      
      cursor: pointer;
      height: 70px;
  }
  .quantity-div p{
    font-size: 15px;
    margin-bottom: 0;
  }
  
  .clear-cart-button{

    text-align: center;
    /* bottom: 15%; */
    margin-bottom: 5%;
    margin-top: 70%;
    width: 250px;
    margin-left: 18%;
    
  }

  .clear-cart-button button{
    background-color: coral;
     padding: 10px;
    width: 100%;
    border: 1px solid coral;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: 500;
  }
.remove-icon{
  cursor: pointer;
}
  .drawer-price-section{
    margin-left: 15%;

    display: flex;
    flex-direction: row;
    font-size: 25px;
    width: 100%;
    font-family: 'Kaushan Script', cursive;
  }

  .increment-icon{
      cursor: pointer;
      color: #807878;
  }

#cart-items{
  height: 25px;
  width: 25px;
  text-align: center;
  background-color: coral;
  border-radius: 50%;
}



  .product-detail-section{
    display: flex;
    flex-direction: row;
    height: 650px;
    margin-top: 7%;
    align-items: flex-start;
    width: 100%;
  }

.product-detail-image-div{
  width: 50%;
  background-color: coral;
  height: 400px;
  border-radius: 5px;
  /* border: 1px solid black; */
}
.product-detail-image{
  border-radius: 5px;
  width: 100%;
  height: 100%;
}
  .product-detail-content{
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 50%;
    height: 550px;
    /* background-color: cyan; */
    /* border: 1px solid black; */
  }
.product-detail-content h1{
  font-size: 30px;
  font-family: 'Kaushan Script', cursive;
}
.product-detail-content p{
  font-size: 20px;
  color: rgb(83, 80, 80);
  font-family: 'Kaushan Script', cursive;
  text-transform: uppercase;
}

.product-detail-price{
  margin-top: 1%;
  font-size: 20px;
  font-weight: 500;
  color: black;
}



.dot1{
  margin-top: 10px;
  height: 20px;
  width: 20px;
  background-color: rgb(62, 43, 228);
  border-radius: 50%;
  display: inline-block;
}


.dot2{
  margin-top: 10px;
  height: 20px;
  width: 20px;
  margin-left: 10px;
  background-color: coral;
  border-radius: 50%;
  display: inline-block;
}

.product-detail-description{
  font-size: 15px;
  color: #807878;
  line-height: 1.8;
}

.product-detail-addtocart{
  margin-top: 10%;
  padding: 10px;
  width: 200px;
  border-radius: 5px;
  background-color: coral;
  border:none;
  color: white;
  font-weight: 500;
  font-size: 20px;
}

#backdrops {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.5);
} 

#empty-cart-image{
  
  margin-top: 20%;
  text-align: center;
}